.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__trigger {
    position: relative;
    cursor: pointer;
    user-select: none;
}

.dropdown__content {
    position: absolute;
    top: 100%;
    background: white;
    border: 1px solid var(--ui-colors-border-regular);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    padding: 5px 0;
    border-radius: 10px;
}

.dropdown_position_right .dropdown__content {
    right: 0;
}

.dropdown_position_left .dropdown__content {
    left: 0;
}
