.dropdownItem {
    position: relative;
}

.dropdownItem__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    padding: 10px 15px;
}

.dropdownItem__inner:hover {
    background: var(--ui-colors-input-primary);
    color: var(--ui-colors-theme-primary-500);
}

.dropdownItem_divided {
    border-top: 1px solid var(--ui-colors-border-regular);
    margin-top: 5px;
    padding-top: 5px;
}