<template>
    <div :class="computedClassNames">
        <nuxt-link
            v-if="isNuxtLink"
            :class="$style.dropdownItem__inner"
            v-bind="$attrs"
            @click.native="handleClick"
        >
            <slot />
        </nuxt-link>
        <component
            v-else
            :is="tag"
            :class="$style.dropdownItem__inner"
            v-bind="$attrs"
            @click="handleClick"
        >
            <slot />
        </component>
    </div>
</template>

<script>
export default {
    name: 'YDropdownItem',
    inject: ['dropdown'],
    props: {
        tag: {
            type: String,
            default: 'div'
        },
        divided: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        computedClassNames() {
            return {
                [this.$style.dropdownItem]: true,
                [this.$style.dropdownItem_divided]: this.divided
            };
        },
        isNuxtLink() {
            return this.tag === 'nuxt-link' || this.tag === 'NuxtLink';
        }
    },
    methods: {
        handleClick(event) {
            this.$emit('click', event);
            this.dropdown.close();
        }
    }
};
</script>

<style src="./dropdown-item.css" module />
