<template>
    <div :class="computedClassNames" v-click-outside="close">
        <div :class="$style.dropdown__trigger" @click="toggleDropdown">
            <slot />
        </div>
        <div
            v-if="value"
            :class="[$style.dropdown__content].concat(dropdownMenuClass)"
        >
            <slot name="dropdown" />
        </div>
    </div>
</template>

<script>
import clickOutside from '@/directives/click-outside';
export default {
    name: 'YDropdown',
    provide() {
        return {
            dropdown: this
        };
    },
    directives: {
        clickOutside
    },
    props: {
        value: {
            type: Boolean,
            default: false
        },
        dropdownMenuClass: {
            type: [String, Array],
            default: null
        },
        position: {
            type: String,
            default: 'right'
        }
    },
    computed: {
        computedClassNames() {
            return {
                [this.$style.dropdown]: true,
                [this.$style[`dropdown_position_${this.position}`]]: true
            };
        }
    },
    mounted() {
        window.addEventListener('keydown', this.esc);
    },
    beforeDestroy() {
        window.addEventListener('keydown', this.esc);
    },
    methods: {
        close() {
            this.$emit('input', false);
        },
        toggleDropdown() {
            this.$emit('input', !this.value);
        },
        esc(event) {
            if (event.code === 'Escape' || event.key === 'Escape') {
                this.close();
            }
        }
    }
};
</script>

<style src="./dropdown.css" module />
