<template>
    <div :class="computedClassNames">
        <slot />
    </div>
</template>

<script>
export default {
    name: 'YTag',
    props: {
        variant: {
            type: String,
            default: 'primary'
        },
        tone: {
            type: String,
            default: 'default'
        }
    },
    computed: {
        computedClassNames() {
            return {
                [this.$style.tag]: true,
                [this.$style[`tag_variant_${this.variant}`]]: true,
                [this.$style[`tag_tone_${this.tone}`]]: true
            };
        }
    }
};
</script>

<style src="./tag.css" module />
