.tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.tag_variant_primary.tag_tone_default {
    background: var(--ui-colors-theme-primary-500);
    color: white;
}

.tag_variant_primary.tag_tone_light {
    background: var(--ui-colors-theme-primary-50);
    color: var(--ui-colors-theme-primary-500);
}

.tag_variant_secondary {
    background: white;
    color: var(--ui-colors-theme-primary-500);
}

.tag_variant_warning.tag_tone_default {
    background: var(--ui-colors-theme-warning-500);
    color: white;
}

.tag_variant_warning.tag_tone_light {
    background: var(--ui-colors-theme-warning-50);
    color: var(--ui-colors-theme-warning-500);
}

.tag_variant_danger.tag_tone_default {
    background: var(--ui-colors-theme-danger-500);
    color: white;
}

.tag_variant_danger.tag_tone_light {
    background: var(--ui-colors-theme-danger-50);
    color: var(--ui-colors-theme-danger-500);
}

.tag_variant_success.tag_tone_default {
    background: var(--ui-colors-theme-success-500);
    color: white;
}

.tag_variant_success.tag_tone_light {
    background: var(--ui-colors-theme-success-50);
    color: var(--ui-colors-theme-success-500);
}