.dialog {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.25s ease;
}
.dialog__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: var(--ui-colors-overlay);
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 50px 15px;
}
.dialog__content {
    max-width: 100%;
    margin: auto;
    position: relative;
}

.dialog__closeButton {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: -35px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    color: white;
    font-size: 20px;
}

.dialog__closeButton:hover {
    background: rgba(255, 255, 255, 0.3);
}

.dialog__closeButton:active {
    transform: scale(0.95);
}

.animationEnter {
    opacity: 0;
}

.animationEnterActive .dialog__content_animated {
    animation: open 0.25s ease;
}

.animationLeaveTo {
    opacity: 0;
}

.animationLeaveTo .dialog__content_animated {
    animation: close 0.25s ease;
}

@keyframes open {
    0% {
        transform: scale(0.75);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes close {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.75);
    }
}

@media screen and (max-width: 575px) {
    .dialog__closeButton {
        right: 0;
        top: -35px;
    }
}
