<template>
    <transition
        :enter-class="$style.animationEnter"
        :enter-active-class="$style.animationEnterActive"
        :leave-to-class="$style.animationLeaveTo"
    >
        <div v-if="active" :class="$style.dialog">
            <div
                :class="$style.dialog__overlay"
                @click.self="close"
            >
                <div
                    :class="{
                        [$style.dialog__content]: true,
                        [$style.dialog__content_animated]: animate
                    }"
                    :style="{ width }"
                >
                    <component
                        :is="nestedComponent"
                        v-bind="nestedComponentProps"
                        v-on="nestedComponentListeners"
                    />
                    <button
                        :class="$style.dialog__closeButton"
                        type="button"
                        @click="close"
                    >
                        <span class="icon-close" />
                    </button>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
import clickOutside from '@/directives/click-outside';
export default {
    name: 'FnDialog',
    directives: {
        clickOutside
    },
    props: {
        nestedComponent: {
            type: [String, Object],
            default: 'div'
        },
        nestedComponentProps: {
            type: Object,
            default: () => {}
        },
        nestedComponentListeners: {
            type: Object,
            default: () => {}
        },
        empty: {
            type: Boolean,
            default: true
        },
        width: {
            type: String,
            default: '320px'
        },
        animate: {
            type: Boolean,
            default: true
        }
    },
    data() {
        return {
            active: false
        };
    },
    mounted() {
        this.active = true;
        window.addEventListener('keydown', this.esc);
    },
    beforeDestroy() {
        window.addEventListener('keydown', this.esc);
    },
    methods: {
        lala() {
            console.log('lala');
        },
        close() {
            this.active = false;
            setTimeout(() => {
                this.$destroy();
                this.$el.remove();
            }, 250);
        },
        esc(event) {
            if (event.code === 'Escape' || event.key === 'Escape') {
                this.close();
            }
        }
    }
};
</script>

<style src="./dialog.css" module />
