<template>
    <div :class="$style.inputWrapper">
        <template v-if="type !== 'textarea'">
            <input
                ref="input"
                v-mask="mask"
                :value="value"
                :class="[computedClassNames.input, inputClass]"
                :type="
                    showPassword
                        ? passwordVisible
                            ? 'text'
                            : 'password'
                        : type
                "
                v-bind="$attrs"
                v-on="listeners"
            />
            <span v-if="icon" :class="[$style.input__icon, icon]" />
            <span
                v-if="clearable && value"
                :class="[$style.input__clearButton, 'icon-close-circle']"
                @click="clear"
            />
            <span
                v-if="showPassword && value"
                :class="computedClassNames.showPasswordButton"
                @click="handleShowPassword"
            />
        </template>
        <template v-else>
            <textarea
                ref="textarea"
                :value="value"
                :class="[computedClassNames.textarea, inputClass]"
                v-bind="$attrs"
                v-on="listeners"
            />
        </template>
    </div>
</template>

<script>
import { VueMaskDirective } from 'v-mask';
export default {
    name: 'YInput',
    directives: {
        mask: VueMaskDirective
    },
    inheritAttrs: false,
    props: {
        value: {
            type: [String, Number],
            default: null
        },
        type: {
            type: String,
            default: 'text'
        },
        variant: {
            type: String,
            default: 'primary'
        },
        size: {
            type: String,
            default: 'md'
        },
        mask: {
            type: String,
            default: null
        },
        icon: {
            type: String,
            default: null
        },
        clearable: {
            type: Boolean,
            default: false
        },
        showPassword: {
            type: Boolean,
            default: false
        },
        inputClass: {
            type: [String, Array, Object],
            default: null
        }
    },
    data() {
        return {
            passwordVisible: false
        };
    },
    computed: {
        listeners() {
            return {
                ...this.$listeners,
                input: (event) => this.$emit('input', event.target.value)
            };
        },
        computedClassNames() {
            return {
                input: {
                    [this.$style.input]: true,
                    [this.$style.input_type_input]: true,
                    [this.$style[`input_variant_${this.variant}`]]: true,
                    [this.$style[`input_size_${this.size}`]]: true,
                    [this.$style.input_has_icon]: this.icon,
                    [this.$style.input_clearable]: this.clearable,
                    [this.$style.input_has_showPasswordButton]:
                        this.showPassword
                },
                textarea: {
                    [this.$style.input]: true,
                    [this.$style.input_type_textarea]: true,
                    [this.$style[`input_variant_${this.variant}`]]: true,
                    [this.$style[`input_size_${this.size}`]]: true
                },
                showPasswordButton: {
                    [this.$style.input__showPasswordButton]: true,
                    [`icon-eye-outline`]: !this.passwordVisible,
                    [`icon-eye-off-outline`]: this.passwordVisible
                }
            };
        },
        computedRef() {
            return this.type === 'textarea'
                ? this.$refs.textarea
                : this.$refs.input;
        }
    },
    methods: {
        clear() {
            this.$emit('input', '');
            this.$emit('clear');
            this.$nextTick(() => {
                this.focus();
            });
        },
        focus() {
            this.computedRef.focus();
        },
        handleShowPassword() {
            this.passwordVisible = !this.passwordVisible;
            this.$nextTick(() => {
                this.focus();
            });
        }
    }
};
</script>

<style src="./input.css" module />
