.inputWrapper {
    position: relative;
}

.input {
    width: 100%;
    border-radius: 5px;
}

.input::placeholder {
    color: var(--ui-colors-typo-placeholder);
}

.input__icon {
    position: absolute;
}

.input__clearButton {
    position: absolute;
    cursor: pointer;
}

.input__showPasswordButton {
    position: absolute;
    cursor: pointer;
}

.input_type_textarea {
    resize: vertical;
}

.input_variant_primary {
    background: var(--ui-colors-input-primary);
    border: 1px solid var(--ui-colors-border-regular);
}

.input_variant_primary:focus {
    background: white;
    border-color: var(--ui-colors-theme-primary-500);
}

.input_variant_primary:focus ~ .input__icon {
    color: var(--ui-colors-theme-primary-500);
}

.input_variant_primary ~ .input__icon {
    color: var(--ui-colors-typo-placeholder);
}

.input_variant_primary ~ .input__clearButton {
    color: var(--ui-colors-typo-placeholder);
}

.input_variant_primary ~ .input__clearButton:hover {
    color: var(--ui-colors-theme-primary-500);
}

.input_variant_primary ~ .input__showPasswordButton {
    color: var(--ui-colors-typo-placeholder);
}

.input_variant_primary ~ .input__showPasswordButton:hover {
    color: var(--ui-colors-theme-primary-500);
}

.input_size_md.input_type_input {
    width: 100%;
    height: 35px;
    padding: 0 15px;
}

.input_size_md.input_type_input ~ .input__icon {
    font-size: 16px;
    top: calc(50% - 8px);
    left: 10px;
}

.input_size_md.input_has_icon.input_type_input {
    padding-left: 30px;
}

.input_size_md.input_type_input ~ .input__clearButton {
    font-size: 16px;
    top: calc(50% - 8px);
    right: 10px;
}

.input_size_md.input_type_input ~ .input__showPasswordButton {
    font-size: 16px;
    top: calc(50% - 8px);
    right: 10px;
}

.input_size_lg.input_type_input {
    width: 100%;
    height: 40px;
    padding: 0 15px;
}

.input_size_lg.input_type_input ~ .input__icon {
    font-size: 16px;
    top: calc(50% - 8px);
    left: 10px;
}

.input_size_lg.input_has_icon.input_type_input {
    padding-left: 30px;
}

.input_size_lg.input_type_input ~ .input__clearButton {
    font-size: 16px;
    top: calc(50% - 8px);
    right: 10px;
}

.input_size_lg.input_clearable {
    padding-right: 30px;
}

.input_size_lg.input_type_input ~ .input__showPasswordButton {
    font-size: 16px;
    top: calc(50% - 8px);
    right: 10px;
}

.input_size_lg.input_type_input.input_has_showPasswordButton {
    padding-right: 30px;
}

.input_size_md.input_type_textarea {
    width: 100%;
    min-height: 96px;
    padding: 15px;
}

.input_size_lg.input_type_textarea {
    width: 100%;
    min-height: 128px;
    padding: 15px;
}
