.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    border: none;
    position: relative;
}

.button:active {
    transform: scale(0.97);
}

.button:disabled {
    pointer-events: none;
}

.button__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_variant_primary.button_tone_default {
    background: var(--ui-colors-theme-primary-500);
    color: white;
}

.button_variant_primary.button_tone_default:hover {
    background: var(--ui-colors-theme-primary-400);
}

.button_variant_primary.button_tone_extraLight {
    background: var(--ui-colors-theme-primary-50);
    color: var(--ui-colors-theme-primary-500);
}

.button_variant_primary.button_tone_extraLight:hover {
    background: var(--ui-colors-theme-primary-100);
}

.button_size_sm:not(.button_iconOnly) {
    min-width: 60px;
    height: 30px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    padding: 0 15px;
}

.button_size_md:not(.button_iconOnly) {
    min-width: 70px;
    height: 35px;
    padding: 0 20px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 400;
}

.button_size_md:not(.button_iconOnly) .button__icon {
    font-size: 16px;
    margin-right: 4px;
}

.button_size_md.button_iconOnly {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    font-size: 16px;
}

.button_size_lg:not(.button_iconOnly) {
    min-width: 80px;
    height: 40px;
    padding: 0 30px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.button_size_lg:not(.button_iconOnly) .button__icon {
    font-size: 16px;
    margin-right: 4px;
}

.button_size_lg.button_iconOnly {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    font-size: 16px;
}

.button_fluid {
    width: 100%;
}

.button_disabled {
    opacity: 0.5;
}

.button_loading .button__content {
    opacity: 0.3;
}

.button_loading:after {
    content: '';
    border-radius: 50%;
    border-color: white;
    border-top-color: transparent !important;
    border-style: solid;
    position: absolute;
    animation: loading 0.75s linear infinite forwards;
}

.button_loading.button_size_md:after {
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    border-width: 3px;
}

.button_loading.button_size_lg:after {
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    border-width: 3px;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}