<template>
    <component 
        :is="tag" 
        :type="isButton ? type : null" 
        :class="computedClassNames.button" 
        :disabled="disabled || loading"
        v-bind="$attrs"
        v-on="$listeners"
    >
        <span :class="$style.button__content">
            <span v-if="icon" :class="computedClassNames.icon" />
            <slot />
        </span>
    </component>
</template>

<script>
export default {
    name: 'YButton',
    props: {
        tag: {
            type: String,
            default: 'button'
        },
        type: {
            type: String,
            default: 'button'
        },
        variant: {
            type: String,
            default: 'primary'
        },
        tone: {
            type: String,
            default: 'default'
        },
        size: {
            type: String,
            default: 'md'
        },
        icon: {
            type: String,
            default: null
        },
        fluid: {
            type: Boolean,
            default: false
        },
        disabled: {
            type: Boolean,
            default: false
        },
        loading: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        isButton() {
            return this.tag === 'button';
        },
        computedClassNames() {
            return {
                button: {
                    [this.$style.button]: true,
                    [this.$style[`button_variant_${this.variant}`]]: true,
                    [this.$style[`button_tone_${this.tone}`]]: true,
                    [this.$style[`button_size_${this.size}`]]: true,
                    [this.$style.button_iconOnly]: this.icon && !this.$slots.default,
                    [this.$style.button_fluid]: this.fluid,
                    [this.$style.button_disabled]: this.disabled,
                    [this.$style.button_loading]: this.loading
                },
                icon: {
                    [this.$style.button__icon]: true,
                    [this.icon]: this.icon
                }
            };
        }
    }
};
</script>

<style src="./button.css" module >
