@font-face {
    font-family: 'icomoon';
    src:  url('./icomoon.eot?u9vc29');
    src:  url('./icomoon.eot?u9vc29#iefix') format('embedded-opentype'),
      url('./icomoon.ttf?u9vc29') format('truetype'),
      url('./icomoon.woff?u9vc29') format('woff'),
      url('./icomoon.svg?u9vc29#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  :global(.icon-vk):before {
    content: "\e900";
  }
  :global(.icon-upload-outline):before {
    content: "\e901";
  }
  :global(.icon-upload):before {
    content: "\e902";
  }
  :global(.icon-television-play):before {
    content: "\e903";
  }
  :global(.icon-telegram):before {
    content: "\e904";
  }
  :global(.icon-send-outline):before {
    content: "\e905";
  }
  :global(.icon-send):before {
    content: "\e906";
  }
  :global(.icon-school-outline):before {
    content: "\e907";
  }
  :global(.icon-repeat-variant):before {
    content: "\e908";
  }
  :global(.icon-repeat):before {
    content: "\e909";
  }
  :global(.icon-plus-thick):before {
    content: "\e90a";
  }
  :global(.icon-plus-circle-outline):before {
    content: "\e90b";
  }
  :global(.icon-plus):before {
    content: "\e90c";
  }
  :global(.icon-play-circle-outline):before {
    content: "\e90d";
  }
  :global(.icon-play-circle):before {
    content: "\e90e";
  }
  :global(.icon-play-box-outline):before {
    content: "\e90f";
  }
  :global(.icon-play):before {
    content: "\e910";
  }
  :global(.icon-newspaper-variant-outline):before {
    content: "\e911";
  }
  :global(.icon-motion-play-outline):before {
    content: "\e912";
  }
  :global(.icon-message):before {
    content: "\e913";
  }
  :global(.icon-magnify):before {
    content: "\e914";
  }
  :global(.icon-lock-outline):before {
    content: "\e915";
  }
  :global(.icon-lock):before {
    content: "\e916";
  }
  :global(.icon-link-variant):before {
    content: "\e917";
  }
  :global(.icon-information-variant):before {
    content: "\e918";
  }
  :global(.icon-information-outline):before {
    content: "\e919";
  }
  :global(.icon-information):before {
    content: "\e91a";
  }
  :global(.icon-heart):before {
    content: "\e91b";
  }
  :global(.icon-file-upload-outline):before {
    content: "\e91c";
  }
  :global(.icon-file-upload):before {
    content: "\e91d";
  }
  :global(.icon-facebook):before {
    content: "\e91e";
  }
  :global(.icon-eye-outline):before {
    content: "\e91f";
  }
  :global(.icon-eye-off-outline):before {
    content: "\e920";
  }
  :global(.icon-eye-off):before {
    content: "\e921";
  }
  :global(.icon-eye):before {
    content: "\e922";
  }
  :global(.icon-email-outline):before {
    content: "\e923";
  }
  :global(.icon-email-fast-outline):before {
    content: "\e924";
  }
  :global(.icon-email-fast):before {
    content: "\e925";
  }
  :global(.icon-email):before {
    content: "\e926";
  }
  :global(.icon-dots-horizontal):before {
    content: "\e927";
  }
  :global(.icon-crown):before {
    content: "\e928";
  }
  :global(.icon-cloud-upload-outline):before {
    content: "\e929";
  }
  :global(.icon-cloud-upload):before {
    content: "\e92a";
  }
  :global(.icon-close-circle-outline):before {
    content: "\e92b";
  }
  :global(.icon-close-circle):before {
    content: "\e92c";
  }
  :global(.icon-close):before {
    content: "\e92d";
  }
  :global(.icon-chevron-up):before {
    content: "\e92e";
  }
  :global(.icon-chevron-right):before {
    content: "\e92f";
  }
  :global(.icon-chevron-left):before {
    content: "\e930";
  }
  :global(.icon-chevron-down):before {
    content: "\e931";
  }
  :global(.icon-checkbox-marked-circle-outline):before {
    content: "\e932";
  }
  :global(.icon-check-bold):before {
    content: "\e933";
  }
  :global(.icon-check):before {
    content: "\e934";
  }
  :global(.icon-calendar-month-outline):before {
    content: "\e935";
  }
  :global(.icon-calendar-month):before {
    content: "\e936";
  }
  :global(.icon-bookmark-outline):before {
    content: "\e937";
  }
  :global(.icon-at):before {
    content: "\e938";
  }
  :global(.icon-account-outline):before {
    content: "\e939";
  }
  :global(.icon-account):before {
    content: "\e93a";
  }
  