.formItem {
    position: relative;
}

.formItem__label {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.formItem__hint {
    font-size: 12px;
    font-weight: 400;
    color: var(--ui-colors-typo-placeholder);
    margin-top: 10px;
}

.formItem__error {
    font-size: 12px;
    font-weight: 400;
    color: var(--ui-colors-theme-danger-500);
    margin-top: 5px;
}