<template>
    <div :class="$style.formItem">
        <div v-if="label" :class="$style.formItem__label">
            {{ label }}
        </div>
        <slot />
        <div v-if="hint" :class="$style.formItem__hint">
            {{ hint }}
        </div>
        <div v-if="hasError && errorMessage" :class="$style.formItem__error">
            {{ errorMessage }}
        </div>
    </div>
</template>

<script>
export default {
    name: 'YFormItem',
    inject: ['form'],
    props: {
        prop: {
            type: String,
            default: null
        },
        label: {
            type: String,
            default: null
        },
        hint: {
            type: String,
            default: null
        }
    },
    data() {
        return {
            hasError: false,
            errorMessage: ''
        };
    },
    mounted() {
        this.form.registerFormItem(this);
    },
    methods: {
        setError(status, message) {
            this.hasError = status;
            this.errorMessage = message;
        }
    }
};
</script>

<style src="./form-item.css" module />
