<template>
    <form @submit.prevent="handleSubmit">
        <slot />
    </form>
</template>

<script>
import AsyncValidator from 'async-validator';
export default {
    name: 'YForm',
    provide() {
        return {
            form: this
        };
    },
    props: {
        model: {
            type: Object,
            default: () => ({})
        },
        rules: {
            type: Object,
            default: () => ({})
        }
    },
    data() {
        return {
            invalid: false,
            formItems: []
        };
    },
    methods: {
        registerFormItem(formItem) {
            this.formItems.push(formItem);
        },
        handleSubmit(event) {
            this.invalid = this.validate();
            if (this.invalid) return;
            this.$emit('submit', event);
        },
        validate() {
            const validator = new AsyncValidator(this.rules);
            let invalid = false;
            validator.validate(this.model, (errors) => {
                this.formItems.forEach((formItem) => {
                    formItem.setError(false, '');
                });
                if (errors) {
                    errors.forEach((error) => {
                        this.formItems.forEach((formItem) => {
                            if (formItem.prop === error.field) {
                                formItem.setError(true, error.message);
                            }
                        });
                    });
                    invalid = true;
                } else {
                    invalid = false;
                }
            });
            return invalid;
        }
    }
};
</script>
