.tabs {
    position: relative;
}

.tabs__header {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    border-bottom: 1px solid var(--ui-colors-border-regular);
}

.tabs__navItem {
    height: 40px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    color: var(--ui-colors-typo-placeholder);
    cursor: pointer;
    user-select: none;
}

.tabs__navItem:not(.tabs__navItem_active):hover {
    color: var(--ui-colors-typo-regular);
}

.tabs__navItem_active {
    color: var(--ui-colors-theme-primary-500);
    box-shadow: 0 1px 0 var(--ui-colors-theme-primary-500);
}
