.imageUpload {
    position: relative;
}

.imageUpload__label {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: block;
}

.imageUpload__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    width: 0;
    height: 0;
}

.imageUpload__avatar {
    width: 150px;
    height: 150px;
}

.imageUpload__placeholder {
    width: 250px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--ui-colors-typo-placeholder);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imageUpload__placeholderIcon {
    font-size: 30px;
}

.imageUpload__placeholderText {
    font-size: 14px;
}

.imageUpload__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.15s ease;
    opacity: 0;
    font-size: 30px;
}

.imageUpload__overlay:hover {
    opacity: 1;
}

.imageUpload_type_avatar .imageUpload__label {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.imageUpload_type_avatar .imageUpload__overlay {
    width: 150px;
    height: 150px;
}

.imageUpload_type_image .imageUpload__label {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    border: 1px dashed var(--ui-colors-border-darker);
}

.imageUpload_active .imageUpload__label {
    border: none;
}