<template>
    <div :class="computedClassNames">
        <label :class="$style.imageUpload__label">
            <y-avatar
                v-if="type === 'avatar'"
                :image="src"
                :class="$style.imageUpload__avatar"
            />
            <div
                v-if="type === 'avatar' || src"
                :class="$style.imageUpload__overlay"
            >
                <span class="icon-file-upload-outline" />
            </div>
            <div
                v-if="type === 'image'"
                :class="[$style.imageUpload__placeholder]"
                :style="src ? { backgroundImage: `url(${src})` } : null"
            >
                <div v-if="!src">
                    <div :class="$style.imageUpload__placeholderIcon">
                        <span class="icon-file-upload-outline" />
                    </div>
                    <div :class="$style.imageUpload__placeholderText">
                        Загрузите изображение
                    </div>
                </div>
            </div>
            <input
                ref="input"
                type="file"
                :class="$style.imageUpload__input"
                accept=".png, .jpg, .jpeg"
                @change="handleChange"
            />
        </label>
    </div>
</template>

<script>
import { imageToBase64 } from '@/utils/image.util';
import YAvatar from '@/components/avatar';
export default {
    name: 'YImageUpload',
    components: {
        YAvatar
    },
    props: {
        image: {
            type: String,
            default: null
        },
        type: {
            type: String,
            default: 'avatar'
        }
    },
    data() {
        return {
            src: this.image
        };
    },
    computed: {
        computedClassNames() {
            return {
                [this.$style.imageUpload]: true,
                [this.$style[`imageUpload_type_${this.type}`]]: true,
                [this.$style.imageUpload_active]: this.src
            };
        }
    },
    watch: {
        image(value) {
            this.src = value;
        }
    },
    methods: {
        focus() {
            this.$refs.input.click();
        },
        async handleChange(event) {
            const file = event.target.files[0];

            if (!file) return;

            const base64Image = await imageToBase64(file);

            this.src = base64Image;

            this.$emit('change', file);
        }
    }
};
</script>

<style src="./image-upload.css" module />
