<template>
    <div class="wrapper">
        <y-input v-model="query" size="md" clearable icon="icon-magnify" />
    </div>
</template>

<script>
import YInput from '@/components/input';
export default {
    components: {
        YInput
    },
    data() {
        return {
            query: ''
        };
    }
};
</script>

<style>
.wrapper {
    max-width: 480px;
    margin: 60px auto;
}
</style>
