<template>
    <transition
        :enter-class="$style.animationEnter"
        :leave-to-class="$style.animationLeaveTo"
    >
        <div v-show="active" :class="computedClassNames">
            <div :class="$style.notification__title">
                {{ title }}
            </div>
            <div :class="$style.notification__message" v-html="message" />
            <button
                :class="$style.notification__closeButton"
                type="button"
                @click="close"
            >
                <span class="icon-close" />
            </button>
        </div>
    </transition>
</template>

<script>
export default {
    name: 'FnNotification',
    props: {
        type: {
            type: String,
            default: 'info'
        },
        title: {
            type: String,
            default: null
        },
        message: {
            type: String,
            default: null
        },
        closeOnClick: {
            type: Boolean,
            default: true
        },
        duration: {
            type: Number,
            default: 5000
        }
    },
    data() {
        return {
            active: false
        };
    },
    computed: {
        computedClassNames() {
            return {
                [this.$style.notification]: true,
                [this.$style[`notification_type_${this.type}`]]: true
            };
        }
    },
    mounted() {
        this.active = true;
        this.autoClose();
    },
    methods: {
        close() {
            this.active = false;
            setTimeout(() => {
                this.$destroy();
                this.$el.remove();
            }, 250);
        },
        autoClose() {
            setTimeout(() => {
                this.close();
            }, this.duration);
        }
    }
};
</script>

<style src="./notification.css" module />
