.notification {
    background: white;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    border: 1px solid var(--ui-colors-border-regular);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.03);
    position: relative;
    margin-bottom: 15px;
    transition: 0.25s ease;
    overflow: hidden;
}

.notification:last-child {
    margin-bottom: 0;
}

.notification:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 30px;
    top: calc(50% - 15px);
    left: 0;
    border-radius: 999px;
}

.notification_type_info:after {
    background: var(--ui-colors-theme-primary-500);
}

.notification_type_success:after {
    background: var(--ui-colors-theme-success-500);
}

.notification_type_error:after {
    background: var(--ui-colors-theme-danger-500);
}

.notification__title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.notification__message {
    font-size: 13px;
    font-weight: 300;
}

.notification__closeButton {
    position: absolute;
    background: none;
    border: none;
    font-size: 16px;
    color: var(--ui-colors-typo-placeholder);
    top: 10px;
    right: 10px;
}

.notification__closeButton:hover {
    color: var(--ui-colors-typo-regular);
}

.animationEnter {
    opacity: 0;
    transform: translateX(100%);
}

.animationLeaveTo {
    opacity: 0;
}
