.card {
    background: white;
    border-radius: 10px;
    padding: 20px;
}

.card__header {
    position: relative;
    margin-bottom: 20px;
}

.card__header h4 {
    font-size: 16px;
    font-weight: 400;
    color: var(--ui-colors-theme-primary-500);
}

.card__header h5 {
    font-size: 14px;
    font-weight: 400;
    color: var(--ui-colors-type-regular);
}

.card__body {
    position: relative;
}

.card_withBorder {
    border: 1px solid var(--ui-colors-border-regular);
}

.card_withShadow {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}