<template>
    <div :class="computedClassNames">
        <div v-if="$slots.header" :class="$style.card__header">
            <slot name="header" />
        </div>
        <div :class="$style.card__body">
            <slot />
        </div>
    </div>
</template>

<script>
export default {
    name: 'YCard',
    props: {
        border: {
            type: Boolean,
            default: true
        },
        shadow: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        computedClassNames() {
            return {
                [this.$style.card]: true,
                [this.$style.card_withBorder]: this.border,
                [this.$style.card_withShadow]: this.shadow
            };
        }
    }
};
</script>

<style src="./card.css" module />
