.alert {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border-radius: 5px;
}

.alert__icon {
    font-size: 20px;
    margin-right: 5px;
}

.alert__message {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.alert_variant_info {
    background: var(--ui-colors-theme-primary-50);
    color: var(--ui-colors-theme-primary-500);
}

.alert_variant_success {
    background: var(--ui-colors-theme-success-50);
    color: var(--ui-colors-theme-success-500);
}

.alert_variant_error {
    background: var(--ui-colors-theme-danger-50);
    color: var(--ui-colors-theme-danger-500);
}