<template>
    <div :class="computedClassNames">
        <span :class="[$style.alert__icon, computedIconClassNames]" />
        <div :class="$style.alert__message">
            <slot />
        </div>
    </div>
</template>

<script>
export default {
    name: 'YAlert',
    props: {
        variant: {
            type: String,
            default: 'info'
        }
    },
    computed: {
        computedClassNames() {
            return {
                [this.$style.alert]: true,
                [this.$style[`alert_variant_${this.variant}`]]: true
            };
        },
        computedIconClassNames() {
            let iconClassName = 'icon-information-variant';

            if (this.variant === 'info') {
                iconClassName = 'icon-information-variant';
            }

            return iconClassName;
        }
    }
};
</script>

<style src="./alert.css" module />
