<template>
    <div :class="$style.datepickerDate">
        <button
            v-if="date"
            :class="computedClassNames.button"
            type="button"
            @click="handleClick"
        >
            {{ date.date }}
        </button>
    </div>
</template>

<script>
export default {
    name: 'YDatepickerDate',
    props: {
        date: {
            type: Object,
            default: null
        },
        active: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        computedClassNames() {
            return {
                button: {
                    [this.$style.datepickerDate__button]: true,
                    [this.$style.datepickerDate__button_active]: this.active
                }
            };
        }
    },
    methods: {
        handleClick() {
            this.$emit('click');
        }
    }
};
</script>

<style src="./datepicker-date.css" module />
