.datepickerDate {
    text-align: center;
    width: 100%;
    height: 100%;
}

.datepickerDate__button {
    width: 30px;
    height: 30px;
    background: none;
    border-radius: 50%;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 400;
    user-select: none;
}

.datepickerDate__button:not(.datepickerDate__button_active):hover {
    background: var(--ui-colors-theme-primary-50);
}

.datepickerDate__button_active {
    background: var(--ui-colors-theme-primary-500);
    color: white;
}
