.datepicker {
    background: white;
    max-width: 320px;
}

.datepicker__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.datepicker__currentMonth {
    font-size: 16px;
    font-weight: 400;
    color: var(--ui-colors-theme-primary-500);
}

.datepicker__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.datepicker__navButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 24px;
    color: var(--ui-colors-theme-primary-500);
    border-radius: 50%;
}

.datepicker__navButton:hover {
    background: var(--ui-colors-theme-primary-50);
}

.datepicker__navButton + .datepicker__navButton {
    margin-left: 5px;
}

.datepicker__body {
    padding: 15px;
}

.datepicker__daysOfWeek {
    display: grid;
    grid-template-columns: repeat(7, 30px);
    grid-gap: 10px;
    justify-content: center;
    margin-bottom: 15px;
}

.datepicker__dayOfWeek {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: var(--ui-colors-typo-placeholder);
}

.datepicker__dates {
    display: grid;
    grid-template-columns: repeat(7, 30px);
    grid-gap: 10px;
    justify-content: center;
}

.datepicker_radius {
    border-radius: 10px;
}