<template>
    <div :class="computedClassNames.datepicker">
        <div :class="$style.datepicker__header">
            <div :class="$style.datepicker__currentMonth">
                {{ nameOfCurrentMonth }} {{ year }}
            </div>
            <div :class="$style.datepicker__nav">
                <button
                    :class="$style.datepicker__navButton"
                    type="button"
                    @click="prevMonth"
                >
                    <span class="icon-chevron-left" />
                </button>
                <button
                    :class="$style.datepicker__navButton"
                    type="button"
                    @click="nextMonth"
                >
                    <span class="icon-chevron-right" />
                </button>
            </div>
        </div>
        <div :class="$style.datepicker__body">
            <div :class="$style.datepicker__daysOfWeek">
                <div
                    v-for="item in namesOfDays"
                    :key="item"
                    :class="$style.datepicker__dayOfWeek"
                >
                    {{ item }}
                </div>
            </div>
            <div :class="$style.datepicker__dates">
                <y-datepicker-date
                    v-for="(d, i) in dates"
                    :key="i"
                    :date="d"
                    :active="isActiveDate(d && d.value)"
                    @click="selectDate(d)"
                />
            </div>
        </div>
    </div>
</template>

<script>
import YDatepickerDate from './datepicker-date';
import {
    now,
    namesOfMonths,
    namesOfDays,
    generateDatesArray,
    moment
} from '@/utils/date-util';

export default {
    name: 'YDatepicker',
    components: {
        YDatepickerDate
    },
    props: {
        value: {
            type: [String, Number, Array, Date],
            default: null
        },
        radius: {
            type: Boolean,
            default: false
        }
    },
    data() {
        const year = now.get('year');
        const month = now.get('month');
        const date = now.get('date');
        return {
            now,
            year,
            month,
            date,
            namesOfDays,
            currentDate: this.value || new Date()
        };
    },
    computed: {
        nameOfCurrentMonth() {
            return namesOfMonths[this.month];
        },
        dates() {
            return generateDatesArray(this.year, this.month);
        },
        computedClassNames() {
            return {
                datepicker: {
                    [this.$style.datepicker]: true,
                    [this.$style.datepicker_radius]: this.radius
                }
            };
        }
    },
    watch: {
        value(value) {
            this.currentDate = value;
        }
    },
    methods: {
        nextMonth() {
            if (this.month === 11) {
                this.month = 0;
                this.year++;
                return;
            }
            this.month++;
            this.$emit('change-month', {
                month: this.month,
                year: this.year
            });
        },
        prevMonth() {
            if (this.month === 0) {
                this.month = 11;
                this.year--;
                return;
            }
            this.month--;
            this.$emit('change-month', {
                month: this.month,
                year: this.year
            });
        },
        selectDate(date) {
            this.$emit('input', date.value);
            this.$emit('select', date.value);
        },
        isActiveDate(date) {
            return moment(this.currentDate).isSame(date, 'day');
        }
    }
};
</script>

<style src="./datepicker.css" module />
