<template>
    <y-card :class="computedClassNames">
        <div :class="$style.result__icon">
            <span :class="computedIconClassNames" />
        </div>
        <div :class="$style.result__text">
            <slot />
        </div>
        <div v-if="$slots.footer" :class="$style.result__footer">
            <slot name="footer" />
        </div>
    </y-card>
</template>

<script>
import YCard from '@/components/card';
export default {
    name: 'YResult',
    components: {
        YCard
    },
    props: {
        variant: {
            type: String,
            default: 'info'
        }
    },
    computed: {
        computedClassNames() {
            return {
                [this.$style.result]: true,
                [this.$style[`result_variant_${this.variant}`]]: true
            };
        },
        computedIconClassNames() {
            let iconClassName = 'icon-information-variant';

            if (this.variant === 'info') {
                iconClassName = 'icon-information-variant';
            } else if (this.variant === 'success') {
                iconClassName = 'icon-check';
            } else if (this.variant === 'error') {
                iconClassName = 'icon-close';
            }

            return iconClassName;
        }
    }
};
</script>

<style src="./result.css" module />
