.result {
    text-align: center;
}

.result__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 15px;
    font-size: 30px;
}

.result__text {
    font-size: 14px;
    font-weight: 400;
    color: var(--ui-colors-typo-placeholder);
}

.result__footer {
    margin-top: 15px;
}

.result_variant_info .result__icon {
    border-color: var(--ui-colors-theme-primary-500);
    color: var(--ui-colors-theme-primary-500);
}

.result_variant_success .result__icon {
    border-color: var(--ui-colors-theme-success-500);
    color: var(--ui-colors-theme-success-500);
}

.result_variant_error .result__icon {
    border-color: var(--ui-colors-theme-danger-500);
    color: var(--ui-colors-theme-danger-500);
}
