<template>
    <component
        :is="tag"
        :class="computedClassNames"
        :style="this.image ? { backgroundImage: `url(${this.image})` } : null"
        v-bind="$attrs"
        v-on="$listeners"
    />
</template>

<script>
export default {
    name: 'YAvatar',
    props: {
        tag: {
            type: String,
            default: 'div'
        },
        image: {
            type: String,
            default: null
        },
        size: {
            type: String,
            default: 'md'
        },
        shape: {
            type: String,
            default: 'circle'
        }
    },
    computed: {
        computedClassNames() {
            return {
                [this.$style.avatar]: true,
                [this.$style[`avatar_size_${this.size}`]]: true,
                [this.$style[`avatar_shape_${this.shape}`]]: true,
                [this.$style.avatar_defaultImage]: !this.image
            };
        }
    }
};
</script>

<style src="./avatar.css" module />
