.checkboxButton {
    position: relative;
}
.checkboxButton__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
    z-index: -1;
}
.checkboxButton__content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    padding: 5px 10px;
    border-radius: 5px;
    background: var(--ui-colors-input-primary);
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.checkboxButton__input:checked + .checkboxButton__content {
    background: var(--ui-colors-theme-primary-500);
    color: white;
}
