<template>
    <label :class="$style.checkboxButton">
        <input
            v-model="model"
            :value="nativeValue"
            :class="$style.checkboxButton__input"
            type="checkbox"
        />
        <span :class="$style.checkboxButton__content">
            <slot />
        </span>
    </label>
</template>

<script>
export default {
    name: 'YCheckboxButton',
    props: {
        value: {
            type: [String, Number, Array, Boolean],
            default: null
        },
        nativeValue: {
            type: [String, Number, Boolean],
            default: null
        }
    },
    computed: {
        model: {
            get() {
                return this.value;
            },
            set(value) {
                this.$emit('input', value);
            }
        }
    }
};
</script>

<style src="./checkbox-button.css" module />
