* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: var(--ui-font-family);
    color: var(--ui-colors-typo-regular);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 320px;
}

img,
svg {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    color: inherit;
    text-decoration: none;
}

ul li {
    list-style: none;
}

input,
textarea,
button {
    outline: none;
    font-family: inherit;
    color: inherit;
}

input:not([type='checkbox']):not([type='radio']),
textarea,
button {
    appearance: none;
}

button {
    cursor: pointer;
}
