:root {
    --ui-font-family: 'Rubik', Arial, Helvetica, sans-serif;

    --ui-colors-body-background: #f8f8fa;

    --ui-colors-overlay: rgba(0, 0, 0, 0.65);

    --ui-colors-theme-primary-500: #006cb5;
    --ui-colors-theme-primary-400: #3389c4;
    --ui-colors-theme-primary-300: #66a7d3;
    --ui-colors-theme-primary-200: #99c4e1;
    --ui-colors-theme-primary-100: #cce2f0;
    --ui-colors-theme-primary-50: #ecf5fa;

    --ui-colors-theme-danger-500: #eb3045;
    --ui-colors-theme-danger-400: #ef596a;
    --ui-colors-theme-danger-300: #f3838f;
    --ui-colors-theme-danger-200: #f7acb5;
    --ui-colors-theme-danger-100: #fbd6da;
    --ui-colors-theme-danger-50: #feebed;

    --ui-colors-theme-success-500: #6cdb00;
    --ui-colors-theme-success-400: #89e233;
    --ui-colors-theme-success-300: #a7e966;
    --ui-colors-theme-success-200: #c4f199;
    --ui-colors-theme-success-100: #e2f8cc;
    --ui-colors-theme-success-50: #f1fce6;

    --ui-colors-theme-warning-500: #fdba36;
    --ui-colors-theme-warning-400: #fdc85e;
    --ui-colors-theme-warning-300: #fed686;
    --ui-colors-theme-warning-200: #fee3af;
    --ui-colors-theme-warning-100: #fff1d7;
    --ui-colors-theme-warning-50: #fff9eb;

    --ui-colors-typo-regular: #353535;
    --ui-colors-typo-placeholder: #a6a6a6;
    --ui-colors-typo-placeholder-darker: #8d8d8d;

    --ui-colors-icon-regular: #a6a6a6;
    --ui-colors-icon-regular-hover: #8d8d8d;

    --ui-colors-border-regular: #f2f2f2;
    --ui-colors-border-darker: #e6e6e6;

    --ui-colors-input-primary: #f8f8fa;
}
